body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }

  .login-box {
    padding: 20px;
    font-size: 16px;
    background-color: #eaafc8;
    border: 2px solid #654ea3;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .input {
    width: 100%;
    margin: 10px 0;
    padding: 15px;
    border-radius: 5px;
    border: 1px solid #654ea3;
    background-color: #eaafc8;
  }
  
  .button {
    width: 100%;
    padding: 15px;
    background: linear-gradient(to right, #8360c3, #2ebf91);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease;
  }
  .button:hover {
    background: linear-gradient(to right, #009FFF, #ec2F4B);
  }
  